!!!
%html
  %head
    %title= "SMS 2 Bus"
    %link{:href => 'http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css', :rel => 'stylesheet', :type => 'text/css'}
  %body
    %div.container
      #content= yield
