.hero-unit
  %h1 YAKB.us
  %br
  .row
    .span7
      %p
        YAKB.us is a real time bus arrival notification system using Voice and SMS.
        Bus stop information is available in both English and Spanish.
      %br
      %a{:class => "btn primary large",:href => '#use'} Learn more »
    .span7
      %img{:src => 'sms_sample_sc.png'}/
%br
%a{:name => 'use'}
%h1 How to Use
%p YAKB.us provides both English and Spanish arrival times.
%p Call or send an SMS to the number below for your Transit Agency.
%p For arrival times enter the 5 digit bus stop number that is displayed at the stop.

%p Standard telephone and SMS rates apply

%br
%h1 Transit Agencies
%br
%dl
  %dt
    %a{:href => 'http://www.arlingtontransit.com/', :target => '_blank'} Arlington Transit
    &mdash; Arlington County, VA
    %dt For English
    %dd Call or text the bus stop number to (571) 762-1288 (example 41215)
    %br
    %dt For Spanish
    %dd Llame o de texto el número de la parada de autobús (434) 207-2666 (por ejemplo, 11332)
  %br
  %br
  %dt
    %a{:href => 'http://www.charlottesville.org/index.aspx?page=661', :target => '_blank'} Charlottesville Area Transit
    &mdash; Charlottesville, VA
    %dt For English
    %dd Call or text the bus stop number to (434) 207-2665 (example 11332)
    %br
    %dt For Spanish
    %dd Llame o de texto el número de la parada de autobús (571) 762-1289 (por ejemplo, 11332)
  %br
  %br
  %dt
    %a{:href => 'http://www.santaclaritatransit.com', :target => 'blank'} Santa Clarita Transit
    &mdash; City of Santa Clarita, CA
    %dt For English
    %dd Call or text the bus stop number to (661) 206-2567 (example 10279)
    %br
    %dt For Spanish
    %dd Llame o de texto el número de la parada de autobús (661) 206-2572 (por ejemplo, 11332)

%br
%br
