.hero-unit
  %h1 YAKB.us
  %br
  .row
    .span7
      %p
        YAKB.us is a real time bus arrival notification system using Voice and SMS.
      %br
      %a{:class => "btn primary large",:href => '#use'} Learn more »
    .span7
      %img{:src => 'sms_sample_sc.png'}/

