.hero-unit
  %h1 YAKB.us
  %br
  .row
    .span7
      %p
        YAKB.us is a real time bus arrival notification system using Voice and SMS.
        Bus stop information is available in both English and Spanish.
      %br
      %a{:class => "btn primary large",:href => '#use'} Learn more »
    .span7
      %img{:src => 'sms_sample_sc.png'}/
%br
%a{:name => 'use'}
%h1 How to Use
%p YAKB.us provides both English and Spanish arrival times.
%p Call or send an SMS to the number below for your Transit Agency.
%p For arrival times enter the 5 digit bus stop number that is displayed at the stop.

%p Standard telephone and SMS rates apply

%h1 Transit Agencies

