.hero-unit
  %h1 SMS 2 Bus
  %br
  .row
    .span7
      %img{:src => 'sms_sample_sc.png'}/
    .span7
      %p
        SMS 2 bus is a real time bus arrival notification system using SMS.
      %a{:class => "btn primary large",:href => '#use'} Learn more »
  %br

